@page
@model BeautyArtClinic_GrosuAndrada_MoldovanRaluca.Pages.ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h1>@ViewData["Title"]</h1>

<p>Pentru programari contacteaza-ne pe nr de telefon: 0734 556 845.</p>
