@page
@model IndexModel
<div class="jumbotron">
    <h1 class="display-4">BINE ATI VENIT LA BEAUTY ART CLINIC</h1>
    <p class="lead">Beauty Art Clinic isi propune imbinarea conceptelor de sanatate, frumusete si arta in cadrul unui ambient elegant si relaxant, alaturi de specialisti in domeniu si tehnologie medicala de ultima generatie. </p>
    <a href="/Programari/Create" class="btn btn-primary">PROGRAMEAZĂ-TE ONLINE</a>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2>Programul nostru</h2>
            <p>Luni - Vineri: 9:00 - 18:00</p>

            <h2>Locație</h2>
            <p>Cluj-Napoca, Strada Clinicii, nr. 45 </br> Cod poștal: 352324  </p>
        </div>
    </div>
</div>
